@page
@model Gestionare_Camere_Hotel.Pages.Camera.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camere</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Camere.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Camere.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Camere.Angajat.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Camere.Angajat.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Camere.Etaj.NumarEtaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Camere.Etaj.NumarEtaj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Camere.TipCamera.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Camere.TipCamera.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Camere.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
